@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
	margin: 0;
	padding: 0 ;
	font-family: 'Bakbak One', cursive;
}

body{
	background-color: #D9D9D9;
}


.body_header{
 height: 10rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 2rem;
 text-align: center;
 background-color: #313131 ;
 color: #4DAD5B;

}

#search-btn, #view-team-btn{
	border-radius: 2em;
	border: none;
	width: 8em;
	font-size: 16px;
	padding: 0.2em;
	margin-top: 1rem;
	background-color: #30A7D7 ;
	color: #F5F5F5;
	
}

#search-btn{
	margin-right: 0.5em;
}

#view-team-btn{
	margin-left: 0.5em;
}

.body_main{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 80vw;
	max-width: 1024px;
	margin:auto;
	background-color: #F5F5F5;

}

footer{
	height: 4rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	background-color: #313131 ;
	color: #4DAD5B;
   
   }



@media screen and (min-width: 336px){

	#search-btn, #view-team-btn{
		margin-top: 2em;
	}

}


@media screen and (min-width: 768px){
	#search-btn{
		margin-right: 2em;
	}
	
	#view-team-btn{
		margin-left: 2em;
	}

}

