@import './base.css';

.team-view_section{
	display:none;
	width: 80vw;
	max-width: 1024px;
	padding: 2rem 0 2rem 0;
	margin:0;
	text-align: center;
}

#team-view_section_heading1{
	margin-bottom: 1rem;
}

.my-team_div{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.name-your-pokemon-input{
	margin-top: 2rem;
	padding: 0.2rem 0;
	width:8.5em;
	border-style:groove;
	border-radius: 0.3rem;
	border-color: var(--ligthgrey);
	font-family: Arial, Helvetica, sans-serif;
}

.name-your-pokemon-button{
	margin-top: 0.5rem;
	border-radius: 2em;
	border: none;
	padding: 0.1em 0;
	width: 4rem;
	background-color: var(--darkyellow);
	box-shadow: 0.2rem 0.2rem 0.2rem hsl(44, 0%, 45%);
}

.name-your-pokemon-button:hover, .name-your-pokemon-button:focus{
	background-color: var(--lightyellow);
}

.name-your-pokemon-button:active{
box-shadow: 0.1rem 0.1rem 0.2rem hsl(44, 0%, 45%);
}

.remove-from-team-button{
	border-radius: 2em;
	border: none;
	padding: 0.2em 0;
	margin-top: 1rem;
	width:5em;
	background-color: var(--orange);
	box-shadow: 0.2rem 0.2rem 0.2rem hsl(44, 0%, 45%);
}

.remove-from-team-button:hover, .remove-from-team-button.focus{
	background-color: var(--lightorange);
}

.remove-from-team-button:active{
box-shadow: 0.1rem 0.1rem 0.2rem hsl(44, 0%, 45%);
}

#spare-player_div_h3{
	margin-top:2rem;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	border-top: 0.5px solid var(--ligthgrey);
	width:15rem;
}

/* Kod för mellanstor skärm */

@media screen and (min-width: 768px) and (max-width:1023px) {
	.my-team_div{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 1rem;
		max-width: 600px;
		margin: 0 auto;
	}

	#my-team_div_h3-container{
		grid-column: 1/4;
	}
	
	.spare-player_div{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 1.4rem;
		max-width: 600px;
		margin: 0 auto;
	}
	
	#spare-player_div_h3{
		grid-column: 1/4;
		margin-top:2rem;
		margin-left: auto;
		margin-right: auto;
		padding: 2rem;
		border-top: 0.5px solid var(--ligthgrey);
		width:35rem;
	}
}

/* Kod för stor skärm */

@media screen and (min-width: 1024px) {
	.my-team_div{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 1rem;
		max-width: 800px;
		margin: 0 auto;
	}

	#my-team_div_h3-container{
		grid-column: 1/4;
	}
	
	.spare-player_div{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 1.4rem;
		max-width: 800px;
		margin: 0 auto;
	}
	
	#spare-player_div_h3{
		grid-column: 1/5;
		margin-top:2rem;
		margin-left: auto;
		margin-right: auto;
		padding: 2rem;
		border-top: 0.5px solid var(--ligthgrey);
		width:45rem;
	}
}